<app-dashboard-header textTitle="Projects"></app-dashboard-header>
<div *ngFor='let project of projects' class="project-list"> 
    <h6 class="bg-primary">{{project.Id}}</h6> 
    <ul class="list-group">
        <div *ngFor='let task of project.Tasks'>
            <div class="list-group-item" *ngIf="task.Deleted === false">
            <div class="row" >
                <div class="col-10">
                    <span *ngIf="task.Completed === false">{{task.Name}}</span>
                    <s *ngIf="task.Completed === true">{{task.Name}}</s>
                </div>
                <div class="col-2">
                    <i *ngIf="task.Completed === false" class="fas fa-check-square fa-2x text-secondary" (click)="taskDone(task.Name)"></i>
                    <i *ngIf="task.Completed === true" class="fas fa-check-square fa-2x text-success" (click)="taskDone(task.Name)"></i>
                
                    <i class="fas fa-trash-alt fa-2x text-dark" (click)="deleteTask(task.Name)"></i>
                </div>
            </div>
            </div>
        </div>
    </ul>
</div>

