<app-dashboard-header textTitle="In-Tray"></app-dashboard-header>
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="input-group input-group-lg">
        <!--<div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">New items</span>
        </div>-->

        <input type="text" class="form-control" placeholder="i want to ..." aria-label="Username" aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">New</button>
        </div>
    </div>     
  </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6">        
      <div class="card item-list">
          <div class="card-header bg-secondary text-center">
              <b>32</b> cards left
            </div>
          <div class="card-body text-center">
              <h5 class="mt-5">Buy dog food.</h5>

          </div>
          <div class="card-footer text-muted">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-success mr-1"><i class="fas fa-check-circle fa-2x"></i></button>
                  <button type="button" class="btn btn-secondary mr-1"><i class="fas fa-book fa-2x"></i></button>
                  <button type="button" class="btn btn-secondary mr-1"><i class="fas fa-cloud-sun fa-2x"></i></button>
                  <button type="button" class="btn btn-danger mr-1"><i class="fas fa-trash-alt fa-2x"></i></button>
              </div>
              <button type="button" class="btn btn-primary float-right" (click)="openDialog()"><i class="fas fa-tasks fa-2x"></i></button>
          </div>
      </div>  
    </div>
  </div>
