.sidebar{
    background-color: #f0f0f0;
    height: 100%;
}

.page-wrapper{
    height: 100vh;
}


.main-content
{
    background-image: url('src/assets/chart_grey.png');
    background-repeat: repeat;
    background-size: 600px;
    
    overflow-y: scroll;
    height: 100vh;
}