<div class="col-md-12 sidebar">
    <div class="row">
        <h5 class="bg-dark">GTD</h5>
    </div>
    <ul class="list-group">
            <li class="list-group-item bg-secondary text-white">Overview</li>
            <li class="list-group-item">In</li>
            <li class="list-group-item">Next Actions</li>
            <li class="list-group-item">Calendar</li>
            <li class="list-group-item">Projects</li>
            <li class="list-group-item">Waiting for</li>
          </ul>
</div>