<div class="col-md-12 sidebar">
    <div class="row">
        <h5 class="bg-dark">GTD</h5>
    </div>
    <ul class="list-group">
            <a routerLink="/home"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">Overview</li></a>
            <a routerLink="/in"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">In</li></a>
            <a routerLink="/next-actions"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">Next Actions</li></a>
            <a routerLink="/calender"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">Calendar</li></a>
            <a routerLink="/projects"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">Projects</li></a>
            <a routerLink="/waiting-for"><li class="list-group-item text-dark" routerLinkActive="bg-secondary text-light">Waiting for</li></a>
    </ul>
</div>