<div class="col-md-12 sidebar">
    <div class="row">
        <h5 class="bg-dark">GTD</h5>
    </div>
    <ul class="list-group">
            <a routerLink="/home"><li class="list-group-item bg-secondary text-white">Overview</li></a>
            <a routerLink="/in"><li class="list-group-item">In</li></a>
            <a routerLink="/next-actions"><li class="list-group-item">Next Actions</li></a>
            <a routerLink="/calender"><li class="list-group-item">Calendar</li></a>
            <a routerLink="/projects"><li class="list-group-item">Projects</li></a>
            <a routerLink="/waiting-for"><li class="list-group-item">Waiting for</li></a>
          </ul>
</div>