<app-dashboard-header textTitle="Overview"></app-dashboard-header>
<div class="row">
  <div class="col-md-4">
    <app-edit-list
      [listId]="'I4laNXev392KK5RNlM0W'"
      [listName]="'In'"
      [canAdd]="true"
      [listColour]="'bg-primary'"
    ></app-edit-list>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Renovations (Project)</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark">Buy curtain railings</li>
          <li class="list-group-item bg-dark">Select wall paint colour</li>
        </ul>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Write a novel (Project)</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark">Define the hero character</li>
          <li class="list-group-item bg-dark">Investigate a location</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-edit-list
      [listId]="'34uyYWVKWP84F06ja1qp'"
      [listName]="'Next Actions'"
      [listColour]="'bg-success'"
    ></app-edit-list>

    <div class="card text-white bg-info mb-3">
      <div class="card-header">@Home</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-info">
            <input type="checkbox" />Send birthday email to Mom
          </li>
          <li class="list-group-item bg-info">
            <input type="checkbox" />Buy curtain railings <br />
          </li>
        </ul>
      </div>
    </div>

    <div class="card text-white bg-info mb-3">
      <div class="card-header">
        @Birthdays
        <div class="float-right">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <!-- <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item bg-info">
                <input type="checkbox" />Send birthday email to Mom
            </li>
            </ul>
        </div> -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-danger mb-3">
      <div class="card-header">
        Calendar
        <div class="float-right">
          <mat-icon>date_range</mat-icon>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-danger">
            <strong>Coming up soon...</strong>
          </li>
          <li class="list-group-item bg-danger">
            Pay rent <br /><span style="font-size: smaller;" class="float-right"
              >Friday</span
            >
          </li>
          <li class="list-group-item bg-danger">
            Watch the new superhero movie <br /><span
              style="font-size: smaller;"
              class="float-right"
              >Friday</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="card text-white bg-warning mb-3">
      <div class="card-header">Waiting for...</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-warning">
            Sales report from Brian<br />
            <div style="font-size: smaller;text-align: right;">
              3 days ago
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
