<div class="row">
  <div class="col-md-12">
    <div class="card bg-primary">
      <div class="card-header">In</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary">
            <input
              class="form-control"
              [(ngModel)]="newTaskValue"
              placeholder="Enter task description with optional @tags or project."
              (keyup.enter)="NewTask()"
            />
            <span style="font-size: smaller;font-style: italic;"
              >Paint the bedroom walls @home project Renovations</span
            >
          </li>
          <li class="list-group-item bg-primary" *ngFor="let task of tasks">
              <mat-checkbox></mat-checkbox>
              {{ task.Name }}
              <div class="badge badge-pill badge-light mr-1" *ngFor="let tag of task.Tags" > {{ tag }} </div>
              <div class="badge badge-pill badge-dark" *ngIf="task.Project">{{ task.Project }}</div>
            <span class="hover-button-show">
              <button
                mat-icon-button
                color="accent"
                aria-label="Options"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="DeleteTask(task.Name)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>watch_later</mat-icon>
                  <span>Someday / maybe</span>
                </button>
                <button mat-menu-item>
                        <mat-icon>calendar_today</mat-icon>
                        <span>Calendar</span>
                      </button>
              </mat-menu>
            </span>
            
            <span class="hover-button-show">
              <button
                class="float-right"
                mat-icon-button
                color="accent"
                aria-label="Move to Next Actions"
              >
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
