<app-dashboard-header textTitle="Overview"></app-dashboard-header>
<div class="row">
    <div class="col-md-3 character-panel text-center">
        <div class="row character-header text-center">
            <h4 class="col-md-12">Jessie</h4>
            <p class="col-md-12">Level 12: <b>Pirate</b></p>
        </div>
        <div class="row"><img src="assets/pirate.png" class="character-image"></div>
        <div class="col-md-12 mt-3 mb-3">
            <ul class="list-group text-dark">
                <li class="list-group-item text-dark">Health: 80</li>
                <li class="list-group-item">Energy: 20</li>
            </ul>
        </div>
        
    </div>
    <div class="col-md-9">
        
    </div>
</div>